#container {
    margin: 2%;
    padding: 7px;
}

#header {
    display: inline-block;
}

nav {
    height: 70px;
    background-color: rgb(79, 98, 62);
    color: rgb(255, 255, 255);
    float: left;
}

#navbar>ul {
    height: 100px;
}

#navbar>ul>li {
    float: left;
    margin: 3px;
    padding: 10px;
    list-style-type: none;
    cursor: pointer;
}

#navbar>ul>li:hover {
    background-color: rgb(207, 173, 18);
    color: whitesmoke;
}

.illustration {
    width: 250px;
    border: 3px gray;
    box-shadow: 4px 4px rgb(207, 173, 18);
    margin: .8 em;
}

.artblog {
    display: flex;
    flex-direction: row;
}

.thumbnail {
    width: 3rem;
    border-radius: 50%;
}

.main_content_wrapper {}

.articles {}

.sections {}

.side {}